<h2 mat-dialog-title>Event löschen?</h2>
<mat-dialog-content class="mat-typography">
  <div class="mat-body-strong">
    Spiel: {{ event.date | date: "dd-MM-yyyy HH:mm" }}<br />
    {{ event.mannschaft }} - {{ event.details }}
  </div>
  <br />
  <div>Sicher, dass dieses Event gelöscht werden soll?</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button
    mat-flat-button
    color="warn"
    [mat-dialog-close]="event"
    cdkFocusInitial
  >
    Löschen
  </button>
</mat-dialog-actions>
